<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HanGeek Game</title>
</head>
<body>
	<h1>HanGeek Game</h1>

	<form action="/seleccionar-palabra" method="post">
		<input type="submit" name="iniciar" value="Iniciar Partida" id="inicar">
	</form>
</body>
</html>