<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Juego</title>
</head>
<body>
	<h1>El Juego ha Empezado</h1>
	<%= session['letradivinada'] %>
	<p id="parrafo"><%= session['letra'] %></p>
	<p>Numero de intentos fallidos = <%= session['intentos'] %></p>
	<%= session['resultado'] %>
	<form action="/validarLetra" method="POST">
		<input type="text" id="area-ingreso-letra" name="area-ingreso-letra">
		<input type="submit" name="enviar" value="enviar">
	</form>
</body>
</html>