<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seleccionar Palabra</title>
</head>
<body>
	<h1>Ingrese una palabra para adivinar</h1>
	<form method="post" action="/juego">
		<input type="text" name="palabra" id="palabra">
		<input type="submit" name="empezar" value="Empezar" id="empezar">
	</form>
</body>
</html>