<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seleccionar Palabra</title>
</head>
<body>
	<div id="titulo" style="width:400px; margin: 0 auto">
		<h1>Ingrese una palabra para adivinar</h1>
		<form method="post" action="/juego" style="width:200px; margin: 0 auto">
			<input type="text" name="palabra" id="palabra">
			<input type="submit" name="empezar" value="Empezar" id="empezar">
		</form>
	</div>
</body>
</html>